:root{
    --color-primary: #B83338;
    --color-secondary: #EAFDF8;
    --color-tertiary: #000500;
    --color-quaternary: #5C6672;
    --color-quinary: #7D8CA8;
    --color-rgba-primary: rgba(184, 51, 56, 0.659);
    --color-rgba-tertiary-dark: rgba(0,5,0, .9);
    --color-rgba-tertiary: rgba(0, 5, 0, .3);
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    color: var(--color-tertiary);
    /* background: linear-gradient(180deg, var(--color-rgba-primary-dark), var(--color-rgba-primary-dark) ), url(/assets/images/property-registration-m.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background: var(--color-secondary);
    max-width: 100vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    position: relative;
    line-height: 1.7;
    letter-spacing: .2px;
}
h1, h2, h3, h4, h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 3.5rem;
    background-color: var(--color-secondary);
}
.logo,
.logo svg{
    height: 6rem;
}
.logo svg{
    width: 12rem;
}
header .logo svg{
    fill: var(--color-tertiary);
}
footer .logo svg{
    fill: var(--color-secondary);
}
.nav{
    padding: 0 1rem;
}
.nav .nav__menu{
    display: flex;
}
.nav .nav__menu,
.mobile-nav .mobile-nav__menu{
    list-style: none;
}
.btn-link{
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
    margin: 0 1rem;
    padding: 1rem 2rem;
    background: var(--color-primary);
    border-radius: .5rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    transition: all .2s ease-in-out;
}
.nav .nav__menu .nav__menu--item{
    margin: 0 .5rem;
}
.mobile-nav .mobile-nav__menu{
    width: 100%;
    height: 90%;
}
.nav .nav__menu .nav__menu--item,
.mobile-nav .mobile-nav__menu .mobile-nav__menu--item{
    padding: 1rem 2rem;
    transition: all .1s ease-in-out;
}
.mobile-nav .mobile-nav__menu .mobile-nav__menu--item{
    width: 100%;
    display: block;
}
.nav .nav__menu .nav__menu--item a{
    color: var(--color-primary);
}
.mobile-nav .mobile-nav__menu .mobile-nav__menu--item a{
    color: var(--color-primary);
}
.nav .nav__menu .nav__menu--item a,
.mobile-nav .mobile-nav__menu .mobile-nav__menu--item a{
    display: block;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    letter-spacing: .5px;
}
.nav .nav__menu .nav__menu--item a svg,
.mobile-nav .mobile-nav__menu .mobile-nav__menu--item a svg{
    width: 2rem;
    height: 2rem;
    fill: var(--color-tertiary);
    margin-right: 1.5rem;
    vertical-align: sub;
}
.nav .nav__menu .nav__menu--item:hover a,
.mobile-nav .mobile-nav__menu .mobile-nav__menu--item:hover a{
    color: var(--color-tertiary);
}
.mobile-menu{
    display: none;
}
.greetings{
    padding: 2rem 3.5rem;
    background-color: var(--color-secondary);
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: var(--color-primary);
    text-align: center;
}

main{
    width: 100%;
    height: 100%;
}
section{
    width: 100%;
    height: 100%;
}
.services, .about-us{
    padding: 2rem 8rem;
    margin: 0 auto;
}
.services{
    background: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.services-head{
    padding: 2rem 1rem;
    width: 30rem;
}
.services-head h2, .about-wrapper h2{ 
    font-size: 3.5rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.services-head h2{
    color: var(--color-primary);
}
.services-head h3{
    font-size: 2rem;
    color: var(--color-quaternary);
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.service-card{
    width: 30%;
    min-width: 30rem;
    height: 100%;
    min-height: 40rem;
    margin: 1rem;
    padding: 2rem;
    background-color: var(--color-primary);
}
.service-card h3, .web-solutions h3{
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1.5rem;
    color: var(--color-secondary);
}
.service-card .service-text ul{
    list-style: none;
}
.service-card .service-text ul li{
    padding: .5rem;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-secondary);
}
.service-title, .service-text p{
    padding: .5rem 0;
}
.service-text p{
    line-height: 1.7;
    letter-spacing: .5px;
}
.web-solutions{
    margin: 1rem;
    padding: 2rem;
    background: var(--color-primary);
}
.web-solutions p{
    margin-bottom: 1rem;
    color: var(--color-secondary);
}
.about-wrapper{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.about-wrapper h2{
    width: 40%;
    margin-bottom: 1.5rem;
    color: var(--color-primary);
}
footer{
    width: 100%;
    background-color: var(--color-tertiary);
    color: var(--color-quaternary);
    padding: 1rem 6rem;
}
.footer-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.footer_links{
    list-style: none;
    font-size: 1.4rem;
}
.footer_links--item, footer small, .footer-list h5{
    padding: .2rem 2rem;
}
.footer_links--item a{
    text-decoration: none;
    color: var(--color-quaternary);
}

.pageYTransition{
    animation: pageYTransition 1s ease-in-out;
}
.pageXTransition{
    animation: pageXTransition 1s ease-in-out;
}
@keyframes pageXTransition {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes pageYTransition {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}